/* @media screen and (max-width: 770px) {
	nav .link {
		display: none;
	}
}

@media screen and (min-width: 771px) and (max-width: 1200px) {
	nav .menu {
		display: none;
	}
}

@media screen and (min-width: 1201px) {
	nav .menu {
		display: none;
	}
} */

:root {
	--navbar-height: 80px;
	/* --navbar-link-color: #5ea5f6;  */
	--navbar-link-color: #fff;
	--navbar-highlight-color: #fff;
	--navbar-highlight-text-color: #000;
	--navbar-background-color: #ff802c;
	--navbar-border: 1px solid #555;
	--navbar-transition-time: 0.3s;
}

@media (prefers-color-scheme: dark) {
	:root {
		--navbar-background-color: #000;
		--navbar-border: 1px solid #fff;
	}
}

nav {
	background-color: var(--navbar-background-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.5rem;
	height: var(--navbar-height);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	border-bottom: var(--navbar-border); 
	/* overflow: hidden; */
}

nav a {
	float: right;
	display: flex;
	color: var(--navbar-link-color);
	text-decoration: underline;
	font-weight: bold;
	flex-direction: row;
	align-items: center;
	padding: 0 7vw;
	height: 100%;
	transition: var(--navbar-transition-time);
	border-left: var(--navbar-border); 
}

.navbar-home {
	float: left;
	padding: 0 2vw;
}

nav a:hover {
	background-color: var(--navbar-highlight-color);
	color: var(--navbar-highlight-text-color)
}

.navbar-home:hover {
	border-right: var(--navbar-border);
}

/* Moves the content of the page down so navbar does not cover it */
.main {
	margin-top: var(--navbar-height);
}